@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bulma/css/bulma.css';

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.center-text
{
  text-align: center; /* Center horizontally */
  /* height: 100vh; Set a fixed height for vertical centering */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */

}

body, html {
    background-color: #1F1F20; /* bg-gray-900 */
}
 


.tableContainer {
    display: grid;
    place-items: center;
  }

  .tableCenter {
    width: 100%;
    max-width: 100%;
  }


.card {
    padding: 2em;
}

.buttonNoStyling {
    cursor: pointer;
}

.whiteBold {
    color: white;
    font-weight: bold;
}

.orangeBold 
{
    color: darkorange;
    font-weight: bold;
}

.greenBold {
    color: greenyellow;
    font-weight: bold;
}

.top-right {
    position: absolute;
    top: calc(0% + 5px);
    right: calc(0% + 5px);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim the background */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.genericButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

.genericButton:hover {
    background-color: #3e8e41;
}

.genericButton:active {
    background-color: #3e8e41;
    /* transform: translateY(4px); */
}

.genericButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.genericButton:disabled:hover {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.genericButton:disabled:active {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.genericButton:disabled:focus {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    
}

.navbar > * {
    margin: 0 10px; /* Adjust margin as needed for spacing between elements */
}

.logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
}

.navbar img {
    margin-right: 10px; /* Adjust margin as needed to separate the image from links */
}

.navbar li {
    margin-bottom: 1rem;
}

@media (min-width: 320px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar li {
        margin-bottom: -1vh;
    }
}

.navbar a {
    font-family: 'Your Custom Font', sans-serif;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.profile-pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 75px;
    height: 75px;
}

.green-background {
    background-color: rgb(17, 58, 17);
}

.red-background {
    background-color: rgb(59, 22, 22);
}

.pink-background {
    background-color: rgb(113, 38, 93);
}

.sleakAdminButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin-bottom for spacing between buttons */
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

.sleakAdminButton:active {
  background-color: #ccc; /* Change background color on hover or focus */
}



::-webkit-scrollbar {
    background-color: rgb(31, 31, 32);
  }

::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 61);
}

.switch-container,
.input-container {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-right: 0.5rem;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}

.svgImage {
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

.modal-button {
    margin-top: 1rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.description-box {
    width: 100%;
    height: 100%;
    background-color: #a9a7a7;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Main Homepage */
@media (max-width: 900px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #con1 {
        position: relative;
        top: 45vh;
        left: 10%;   
    }
    
    #box1{
        padding: 10px;
        border-radius: 2px;
        width: 80dvw;
        height: 30dvh;
        color:#f1f1f1;
        background-color: #db6300;
        transition: all .2s ease-in-out;
    }
    
    #box2{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 80dvw;
        height: 30dvh;
        color:#000000;
        background-color: #fafafa;
    }
    
    
    #con2 {
        position: relative;
        bottom: 20dvh;
        left: 5%;
    }
    
    #Imbox1{
        padding: 10px;
        border-radius: 2px;
        color:#f1f1f1;
        background-color: #db6300;
        width: 90dvw;
        height: 30dvh;
        transition: all .2s ease-in-out;
    }
    
    #Imbox2{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
    
        color:#000000;
        background-color: #fafafa;
        width: 90dvw;
        height: 30dvh;
    }
    
    #Card1{
        position: relative;
        top: 20vh;
        margin:auto;
        color:#000000;
        background-color: #fafafa;
        width: 90%;
        height: 100%;
    }
    
    #con3 {
        position: relative;
        height: 90dvh;
        top: 30vh;
    }
    
    #col1 {
        position: absolute;
        left: 5%;
        width: 90%;
        height: 32dvh;
        padding: 10px;
        border-radius: 2px;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }


    #col2 {
        position: absolute;
        top: 35dvh;
        left: 5%;
        padding: 10px;
        border-radius: 2px;
        width: 90%;
        height: 32dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }
    
    #col3 {
        position: absolute;
        top: 70dvh;
        left: 5%;
        padding: 10px;
        border-radius: 2px;
        width: 90%;
        height: 32dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }
    
    #con4 {
        position: relative;
        top: 45dvh;
    }
    
    #box3{
        /* margin-left:-1%; */
        margin: auto;
        padding: 10px;
        border-radius: 2px;
        width: 90dvw;
        height: 55dvh;
        color:#f1f1f1;
        background-color: #db6300;
    }
    
    #box4{
        position: absolute;
        margin-left: 0.4%;
        padding: 10px;
        border-radius: 2px;
        width: 84dvw;
        /* height: 67dvh; */
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }
    
    }
    
    
@media (min-width:901px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
        #con1 {
            position: relative;
            top: 15vh;
            left: 42.5%;
        }
        
        #box1{
            padding: 10px;
            border-radius: 2px;
            width: 35dvw;
            height: 29dvh;
            color:#f1f1f1;
            background-color: #db6300;
            transition: all .2s ease-in-out;
        }
        
        #box2{
            position: absolute;
            bottom: 10px;
            left: -10px;
            padding: 10px;
            border-radius: 2px;
            width: 35dvw;
            height: 29dvh;
            color:#000000;
            background-color: #fafafa;
        }
        
        
        #con2 {
            position: relative;
            bottom: 20dvh;
            left: -5.5%;
        }
        
        #Imbox1{
            padding: 10px;
            border-radius: 2px;
            color:#f1f1f1;
            background-color: #db6300;
            width: 42dvw;
            height: 44dvh;
            transition: all .2s ease-in-out;
        }
        
        #Imbox2{
            position: absolute;
            bottom: 10px;
            left: -10px;
            padding: 10px;
            border-radius: 2px;
        
            color:#000000;
            background-color: #fafafa;
            width: 42dvw;
            height: 44dvh;
        }
        
        #Card1{
            position: relative;
            bottom: 15vh;
            margin:auto;
            color:#000000;
            background-color: #fafafa;
            width: 50%;
            height: 100%;
        }
        
        #con3 {
            position: relative;
            height: 90dvh;
        }
        
        #col1 {
            position: absolute;
            width: 30%;
            height: 50dvh;
            padding: 10px;
            border-radius: 2px;
            color:#000000;
            background-color: #fafafa;
            transition: all .2s ease-in-out;
        }
        
        #col2 {
            position: absolute;
            left: 35%;
            padding: 10px;
            border-radius: 2px;
            width: 30%;
            height: 50dvh;
            color:#000000;
            background-color: #fafafa;
            transition: all .2s ease-in-out;
        }
        
        #col3 {
            position: absolute;
            left: 70%;
            padding: 10px;
            border-radius: 2px;
            width: 30%;
            height: 50dvh;
            color:#000000;
            background-color: #fafafa;
            transition: all .2s ease-in-out;
        }
        
        #con4 {
            position: relative;
            bottom: 25dvh;
        }
        
        #box3{
            margin: auto;
            padding: 10px;
            border-radius: 2px;
            width: 71.5dvw;
            height: 59dvh;
            color:#f1f1f1;
            background-color: #db6300;
            transition: all .2s ease-in-out;
        }
        
        #box4{
            position: absolute;
            margin-left: 0.4%;
            padding: 10px;
            border-radius: 2px;
            width: 70dvw;
            height: 57dvh;
            color:#000000;
            background-color: #fafafa;
            transition: all .2s ease-in-out;
        }
     }
    
/* Home page animations */

#box1:hover{
    transform: translate(-10px, -10px);
    }

#Imbox1:hover{
    transform: translate(-10px, -10px);
        }

#col1:hover{
    transform: translate(-10px, -10px);
    }

#col2:hover{
    transform: translate(-10px, -10px);
    }

#col3:hover{
    transform: translate(-10px, -10px);
    }

#box3:hover{
    transform: scale(1.03);
    }

/* Invitational Page */
@media (min-width:320px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 


    #Title {
        position: relative;
        margin:auto;
        top: 5vh;
        width: 60dvw;
    }

    #Invcon1 {
        position: relative;
        top: 10vh;
        left: 5%;
    }

    #Card2{
        position: relative;
        top: 10vh;
        margin:auto;
        color:#000000;
        background-color: #fafafa;
        width: 90%;
        height: 100%;
    }
    

    #InvboxC{
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 24dvh;
        color:#f1f1f1;
        background-color: #72221d;
        transition: all .2s ease-in-out;
    }
    
    #InvboxM1T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 21dvh;
        color:#5e4646;
        background-color: #3d3c3c;
    }

    #InvboxM1LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 18.5dvh;
        color:#000000;
        background-color: #fafafa;
    }


    #Invcon2 {
        position: relative;
        top: 15vh;
        left: 25%;
    }
    
    #InvboxM2T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 21dvh;
        color:#000000;
        background-color: #3d3c3c;
    }

    #InvboxM2LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 18.5dvh;
        color:#000000;
        background-color: #fafafa;
    }

    #Invcon3 {
        position: relative;
        top: 20vh;
        left: 5%;
    }
    
    #InvboxM3T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 21dvh;
        color:#000000;
        background-color: #3d3c3c;
    }

    #InvboxM3LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 18.5dvh;
        color:#000000;
        background-color: #fafafa;
    }

    #Invcon4 {
        position: relative;
        top: 25vh;
        left: 25%;
    }
    
    #InvboxM4T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 21dvh;
        color:#000000;
        background-color: #3d3c3c;
    }

    #InvboxM4LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 18.5dvh;
        color:#000000;
        background-color: #fafafa;
    }

    #Invcon5 {
        position: relative;
        top: 35vh;
        margin: auto;
    }
    
    #InvboxM5T{
        position: absolute;
        margin: auto;
        bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        width: 75dvw;
        height: 27dvh;
        color:#000000;
        background-color: #3d3c3c;
    }

    #InvboxM5LT{
        position: absolute;
        margin: auto;
        bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        width: 75dvw;
        height: 21dvh;
        color:#000000;
        background-color: #fafafa;
    }


    #Imbox3{
        position: relative;
        top: 42.5vh;
        padding: 10px;
        border-radius: 2px;
        color:#f1f1f1;
        background-color: #72221d;
        width: 90dvw;
        height: 30dvh;
        transition: all .2s ease-in-out;
    }
    
    #Imbox4{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
    
        color:#000000;
        background-color: #fafafa;
        width: 90dvw;
        height: 30dvh;
    }

    #Invcon6 {
        position: relative;
        top: 40vh;
        margin: auto;
    }
    #InvboxC5{
        margin:auto;
        padding: 10px;
        border-radius: 2px;
        width: 80dvw;
        height: 30dvh;
        color:#f1f1f1;
        background-color: #72221d;
    }

    #InvboxF{
        position: absolute;
        margin: auto;
        bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        width: 75dvw;
        height: 27dvh;
        color:#000000;
        background-color: #fafafa;
    }

    #Footer {
        position: relative;
        margin: auto;
        top: 50vh;
        padding: 10px;
        border-radius: 2px;
        width: 75dvw;
        color:#cccccc;
        background-color:#1F1F20;
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #InvboxC:hover{
        transform: translate(-10px, -10px);
        }

    #Card2{
            position: relative;
            top: 10vh;
            margin:auto;
            color:#000000;
            background-color: #fafafa;
            width: 90%;
            height: 100%;
        }


    #Title {
        position: relative;
        margin:auto;
        top: 3vh;
        width: 30dvw;
        transition: all .2s ease-in-out;
    }

    #Imbox3{
        position: relative;
        left: 10%;
        margin: auto;
        padding: 10px;
        border-radius: 2px;
        color:#f1f1f1;
        background-color: #72221d;
        width: 70dvw;
        height: 74dvh;
        transition: all .2s ease-in-out;
    }
    
    #Imbox4{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
    
        color:#000000;
        background-color: #fafafa;
        width: 70dvw;
        height: 74dvh;
    }

    #InvboxC{
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 40dvh;
        color:#f1f1f1;
        background-color: #72221d;
        transition: all .2s ease-in-out;
    }

    #Invcon1 {
        position: relative;
        top: 10vh;
        left: -10%;
        transition: all .2s ease-in-out;
    }
    
    
    #InvboxM1T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 39dvh;
        color:#000000;
        background-color: #3d3c3c;
        transition: all .2s ease-in-out;
    }

    #InvboxM1LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 33dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }


    #Invcon2 {
        position: relative;
        top: 15vh;
        left: 30%;
    }
    
    #InvboxM2T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 39dvh;
        color:#000000;
        background-color: #3d3c3c;
        transition: all .2s ease-in-out;
    }

    #InvboxM2LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 33dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }

    #Invcon3 {
        position: relative;
        top: 20vh;
        left: -10%;
    }
    
    #InvboxM3T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 39dvh;
        color:#000000;
        background-color: #3d3c3c;
        transition: all .2s ease-in-out;
    }

    #InvboxM3LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 33dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }

    #Invcon4 {
        position: relative;
        top: 25vh;
        left: 30%;
    }
    
    #InvboxM4T{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 39dvh;
        color:#000000;
        background-color: #3d3c3c;
        transition: all .2s ease-in-out;
    }

    #InvboxM4LT{
        position: absolute;
        bottom: 10px;
        left: -10px;
        padding: 10px;
        border-radius: 2px;
        width: 50dvw;
        height: 33dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }

    #Invcon5 {
        position: relative;
        top: 35vh;
        margin: auto;
    }
    
    #InvboxM5T{
        position: absolute;
        margin: auto;
        bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 40dvh;
        color:#000000;
        background-color: #3d3c3c;
        transition: all .2s ease-in-out;
    }

    #InvboxM5LT{
        position: absolute;
        margin: auto;
        bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 32dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }


    #Invcon6 {
        position: relative;
        top: 40vh;
        margin: auto;
    }
    #InvboxC5{
        margin:auto;
        padding: 10px;
        border-radius: 2px;
        width: 71dvw;
        height: 43dvh;
        color:#f1f1f1;
        background-color: #72221d;
        transition: all .2s ease-in-out;
    }

    #InvboxF{
        position: absolute;
        margin: auto;
        bottom: 10px;
        padding: 10px;
        border-radius: 2px;
        width: 70dvw;
        height: 40dvh;
        color:#000000;
        background-color: #fafafa;
        transition: all .2s ease-in-out;
    }

}

/* Invitational Animations */

#InvboxC:hover{
    transform: translate(-5px, -5px);
    }


#InvboxC5:hover{
        transform: scale(1.02);
        }
/* Weeklong Page */

/* Admin page */