@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'bulma/css/bulma.css';

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.center-text
{
  text-align: center; /* Center horizontally */
  /* height: 100vh; Set a fixed height for vertical centering */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */

}

body, html {
    background-color: #1F1F20; /* bg-gray-900 */
}


.tableContainer {
    display: grid;
    place-items: center;
  }

  .tableCenter {
    width: 100%;
    max-width: 100%;
  }


.card {
    padding: 2em;
}

.buttonNoStyling {
    cursor: pointer;
}

.whiteBold {
    color: white;
    font-weight: bold;
}

.orangeBold 
{
    color: darkorange;
    font-weight: bold;
}

.greenBold {
    color: greenyellow;
    font-weight: bold;
}

.top-right {
    position: absolute;
    top: calc(0% + 5px);
    right: calc(0% + 5px);
}

.genericButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

.genericButton:hover {
    background-color: #3e8e41;
}

.genericButton:active {
    background-color: #3e8e41;
    /* transform: translateY(4px); */
}

.genericButton:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.genericButton:disabled:hover {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.genericButton:disabled:active {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.genericButton:disabled:focus {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}


@media (min-width:320px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }


@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
 }

#con1 {
    position: relative;
    top: 15vh;
    left: 42.5%;
}

#box1{
    padding: 10px;
    border-radius: 2px;
    width: 35dvw;
    height: 29dvh;
    color:#f1f1f1;
    background-color: #db6300;
}

#box2{
    position: absolute;
    bottom: 10px;
    left: -10px;
    padding: 10px;
    border-radius: 2px;
    width: 35dvw;
    height: 29dvh;
    color:#000000;
    background-color: #fafafa;
}


#con2 {
    position: relative;
    bottom: 20dvh;
    left: -5.5%;
}

#Imbox1{
    padding: 10px;
    border-radius: 2px;
    color:#f1f1f1;
    background-color: #db6300;
    width: 42dvw;
    height: 40dvh;
    
}

#Imbox2{
    position: absolute;
    bottom: 10px;
    left: -10px;
    padding: 10px;
    border-radius: 2px;

    color:#000000;
    background-color: #fafafa;
    width: 42dvw;
    height: 40dvh;
}

#Card1{
    position: relative;
    bottom: 15vh;
    margin:auto;
    color:#000000;
    background-color: #fafafa;
    width: 50%;
    height: 100%;
}

#con3 {
    position: relative;
    height: 90dvh;
}

#col1 {
    position: absolute;
    width: 30%;
    height: 60dvh;
    padding: 10px;
    border-radius: 2px;
    color:#000000;
    background-color: #fafafa;
}

#col2 {
    position: absolute;
    left: 35%;
    padding: 10px;
    border-radius: 2px;
    width: 30%;
    height: 60dvh;
    color:#000000;
    background-color: #fafafa;
}

#col3 {
    position: absolute;
    left: 70%;
    padding: 10px;
    border-radius: 2px;
    width: 30%;
    height: 60dvh;
    color:#000000;
    background-color: #fafafa;
}

#con4 {
    position: relative;
    bottom: 20dvh;
}

#box3{
    /* margin-left:-1%; */
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    width: 71.5dvw;
    height: 59dvh;
    color:#f1f1f1;
    background-color: #db6300;
}

#box4{
    position: absolute;
    margin-left: 0.4%;
    padding: 10px;
    border-radius: 2px;
    width: 70dvw;
    height: 57dvh;
    color:#000000;
    background-color: #fafafa;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    
}

.navbar > * {
    margin: 0 10px; /* Adjust margin as needed for spacing between elements */
}

.logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
}

.navbar img {
    margin-right: 10px; /* Adjust margin as needed to separate the image from links */
}

.navbar li {
    margin-bottom: 1rem;
}

@media (min-width: 640px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar li {
        margin-bottom: -1vh;
    }
}

.navbar a {
    font-family: 'Your Custom Font', sans-serif;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.animate-pulse {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
}

.profile-pictures {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: black;
    width: 75px;
    height: 75px;
}

.green-background {
    background-color: rgb(17, 58, 17);
}

.red-background {
    background-color: rgb(59, 22, 22);
}

.pink-background {
    background-color: rgb(113, 38, 93);
}

.sleakAdminButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin-bottom for spacing between buttons */
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

.sleakAdminButton:active {
  background-color: #ccc; /* Change background color on hover or focus */
}


::-webkit-scrollbar {
    background-color: rgb(31, 31, 32);
  }

::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 61);
}

.switch-container,
.input-container {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-right: 0.5rem;
}

input[type='checkbox'] {
  margin-right: 0.5rem;
}

.svgImage {
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1; 
}

.modal-button {
    margin-top: 1rem;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.description-box {
    width: 100%;
    height: 100%;
    background-color: #a9a7a7;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

